<!DOCTYPE html>
<html>
<head>
    <% include ../partials/head%>
    <meta charset="utf-8" />
    <title>CSS3 Contact Form</title>
    
</head>

<!--Load the AJAX API-->
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<body class="container" onload=run()>
    
    <header>
        <% include ../partials/header %>
    </header>

    <main>
        <div class="jumbotron">
            

                <h1 style="text-align: center">Dashboard</h1>
                <h3>Current Temp: <%- information[information.length-1].temp %> Degrees</h3>
                <div class="container">
                    <div class="col-md-8">
                        <button id="change" class="btn btn-default">Change View Window</button>
                        <div id="chart_div" class="chart"></div>
                    </div>
                    <div class="col-md-4">
                        <div id="chart_div2" class="chart" style="margin-top: 33px;"></div>
                    </div>
                </div>
                              
        </div>
        
    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>

<script>
function run(obj){
          google.charts.load('current', {'packages':['corechart']});
    google.charts.setOnLoadCallback(drawChart);

    function drawChart() {

      var data = new google.visualization.DataTable();
      data.addColumn('datetime', 'Time of Day');
      data.addColumn('number', 'Motivation Level');

      data.addRows([
		<% for(var i=0; i < information.length; i++) { %>
            [new Date("<%= information[i].measurement_timestamp %>"), <%= information[i].temp %>],
        <% } %>
      ]);

      var options = {
        height: 500,
        legend: {position: 'none'},
        enableInteractivity: false,
        chartArea: {
          width: '85%'
        },
        hAxis: {
          viewWindow: {
            min: new Date(2017, 2, 20, 0),
            max: new Date(2017, 2, 30, 10)
          },
          gridlines: {
            count: -1,
            units: {
              days: {format: ['MMM dd']},
              hours: {format: ['HH:mm', 'ha']},
            }
          },
          minorGridlines: {
            units: {
              hours: {format: ['hh:mm:ss a', 'ha']},
              minutes: {format: ['HH:mm a Z', ':mm']}
            }
          }
        }
      };

      var chart = new google.visualization.LineChart(
        document.getElementById('chart_div'));

      chart.draw(data, options);

      var button = document.getElementById('change');
      var isChanged = false;

      button.onclick = function () {
        if (!isChanged) {
          options.hAxis.viewWindow.min = new Date(2017, 2, 27, 6);
          options.hAxis.viewWindow.max = new Date(2017, 2, 27, 10);
          isChanged = true;
        } else {
          options.hAxis.viewWindow.min = new Date(2017, 2, 20, 0),
          options.hAxis.viewWindow.max = new Date(2017, 2, 30, 10)
          isChanged = false;
        }
        chart.draw(data, options);
      };
    }

}
</script>



<!-- ============================================================================== -->
<script type="text/javascript">

      // Load the Visualization API and the corechart package.
      google.charts.load('current', {'packages':['corechart']});

      // Set a callback to run when the Google Visualization API is loaded.
      google.charts.setOnLoadCallback(drawChart);

      // Callback that creates and populates a data table,
      // instantiates the pie chart, passes in the data and
      // draws it.
      function drawChart() {

        // Create the data table.
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Topping');
        data.addColumn('number', 'Slices');
        data.addRows([
          ['Oxygen', 3],
          ['Carbon Dioxide', 1],
          
        ]);

        // Set chart options
        var options = {'title':'Oxygen to Co2 ratio',
                       'width':300,
                       'height':300, 
                        legend:{
                           position: 'none'
                        }
                      };

        // Instantiate and draw our chart, passing in some options.
        var chart = new google.visualization.PieChart(document.getElementById('chart_div2'));
        chart.draw(data, options);
      }
    </script>
</body>
</html>