<!DOCTYPE html>
<html>
<head>
    <% include ../partials/head%>
    <meta charset="utf-8" />
    <title>CSS3 Contact Form</title>
</head>

<!--Load the AJAX API-->
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<body class="container" onload=run()>
    
    <header>
        <% include ../partials/header %>
    </header>

    <main>
        <div class="jumbotron">
            <div id="contact">

                <h1 style="text-align: center">Temperature Progression</h1>
				<button id="change">Change View Window</button>
                <div class="container">
                    <div class="row">
                        <div id="chart_div"></div>
                    </div>
                </div>


                <h1>Data page</h1>
                <p>Currently displaying all data from database</p>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Temperature</th>
                        </tr>
                    </thead>
                    <% for(var i=0; i < information.length; i++) { %>
                        <tr>
                            <td><%= information[i].measurement_timestamp %></td>
                            <td><%= information[i].temp %></td>
                        </tr>
                    <% } %>
                </table>                
        </div>
    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>

    
</div>




<script>
function run(obj){
          google.charts.load('current', {'packages':['corechart']});
    google.charts.setOnLoadCallback(drawChart);

    function drawChart() {

      var data = new google.visualization.DataTable();
      data.addColumn('datetime', 'Time of Day');
      data.addColumn('number', 'Motivation Level');

      data.addRows([
		<% for(var i=0; i < information.length; i++) { %>
            [new Date("<%= information[i].measurement_timestamp %>"), <%= information[i].temp %>],
        <% } %>
      ]);

      var options = {
        width: 900,
        height: 500,
        legend: {position: 'none'},
        enableInteractivity: false,
        chartArea: {
          width: '85%'
        },
        hAxis: {
          viewWindow: {
            min: new Date(2017, 2, 20, 0),
            max: new Date(2017, 2, 30, 10)
          },
          gridlines: {
            count: -1,
            units: {
              days: {format: ['MMM dd']},
              hours: {format: ['HH:mm', 'ha']},
            }
          },
          minorGridlines: {
            units: {
              hours: {format: ['hh:mm:ss a', 'ha']},
              minutes: {format: ['HH:mm a Z', ':mm']}
            }
          }
        }
      };

      var chart = new google.visualization.LineChart(
        document.getElementById('chart_div'));

      chart.draw(data, options);

      var button = document.getElementById('change');
      var isChanged = false;

      button.onclick = function () {
        if (!isChanged) {
          options.hAxis.viewWindow.min = new Date(2017, 2, 27, 6);
          options.hAxis.viewWindow.max = new Date(2017, 2, 27, 10);
          isChanged = true;
        } else {
          options.hAxis.viewWindow.min = new Date(2017, 2, 20, 0),
          options.hAxis.viewWindow.max = new Date(2017, 2, 30, 10)
          isChanged = false;
        }
        chart.draw(data, options);
      };
    }

}
</script>
</body>
</html>