<!DOCTYPE html>
<html>
<head>
    <% include ../partials/head%>
<meta charset="utf-8" />
<title>CSS3 Contact Form</title>
</head>
<body>
<body class="container">

    <header>
        <% include ../partials/header %>
    </header>

    <main>
        <div class="jumbotron">
            <div id="contact">

                <h1>Data page</h1>
                <p>Currently displaying all data from database</p>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Temperature</th>
                            <th>Date</th>
                            <th>Time</th>
                        </tr>
                    </thead>
                    <% for(var i=0; i < information.length; i++) { %>
                        <tr>
                            <td><%= information[i].Id %></td>
                            <td><%= information[i].temp %></td>
                            <td><%= information[i].date %></td>
                            <td><%= information[i].time %></td>
                        </tr>
                    <% } %>
                </table>                
        </div>
    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>

    
</div>
</body>
</html>