<!DOCTYPE html>
<html>
<head>
    <% include ../partials/head%>
<meta charset="utf-8" />
<title>CSS3 Contact Form</title>
</head>
<body>
<body class="container">

    <header>
        <% include ../partials/header %>
    </header>

    <main>
        <div class="jumbotron">
            <div id="contact">

                <h1>Data page</h1>
                <p>The datapage is currently in the works</p>
                <p><%= information[0].ID %></p>
                
                

        </div>
    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>

    
</div>
</body>
</html>