<!DOCTYPE html>
<html>
<head>
    <% include ../partials/head%>
    <meta charset="utf-8" />
    <title>CSS3 Contact Form</title>
</head>

<!--Load the AJAX API-->
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<body class="container" onload=run()>
    
    <header>
        <% include ../partials/header %>
    </header>

    <main>
        <div class="jumbotron">
            <div id="contact">

                <h1 style="text-align: center">Temperature Progression</h1>
                <div class="container">
                    <div class="row">
                        <div id="chart_div"></div>
                    </div>
                </div>


                <h1>Data page</h1>
                <p>Currently displaying all data from database</p>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Time</th>
                            <th>Date</th>
                            <th>Temperature</th>
                        </tr>
                    </thead>
                    <% for(var i=0; i < information.length; i++) { %>
                        <tr>
                            <td><%= information[i].time %></td>
                            <td><%= information[i].date %></td>
                            <td><%= information[i].temp %></td>
                        </tr>
                    <% } %>
                </table>                
        </div>
    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>

    
</div>




<script>
function run(obj){
    google.charts.load('current', {packages: ['corechart', 'line']});
    google.charts.setOnLoadCallback(drawBasic);

    function drawBasic() {
        console.log("Hello");
        var data = new google.visualization.DataTable();
        data.addColumn('number', 'X');
        data.addColumn('number', 'T');

        data.addRows([
            [0, 0],   [1, 10]
        ]);

        data.addRows([
            [80, 100]
        ]);

        var options = {
            hAxis: {
            title: 'Time'
            },
            vAxis: {
            title: 'Temperature'
            }
         };

        var chart = new google.visualization.LineChart(document.getElementById('chart_div'));

        chart.draw(data, options);
    }
}
</script>
</body>
</html>