<!DOCTYPE html>
<html>
<head>
    <% include ../partials/head%>
<meta charset="utf-8" />
<title>CSS3 Contact Form</title>
</head>
<body>
<body class="container">

    <header>
        <% include ../partials/header %>
    </header>

    <main>
        <div class="jumbotron">
            <div id="contact">

                <h2>Log In:</h2>

                <form action="/pages/myaction" method="post">

                <div class="form-group">
                    <label for="username">Username:</label>
                    <input class="form-control" type="text" id="username" name="username" placeholder="Enter your username" />
                </div>

                 <div class="form-group">
                    <label for="password">Password:</label>
                    <input class="form-control" type="password" id="password" name="password" placeholder="Enter your password" />
                </div>

                <input type="submit" value="Login" />
            </div>
    </form>


        </div>
    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>

    
</div>
</body>
</html>