<!DOCTYPE html>
<html>
<head>
    <% include ../partials/head%>
<meta charset="utf-8" />
<title>CSS3 Contact Form</title>
</head>
<body>
<body class="container">

    <header>
        <% include ../partials/header %>
    </header>

    <main>
        <div class="jumbotron">
            <p>Thanks for sending it, <%- name %></p>
            




        </div>
    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>

    
</div>
</body>
</html>